::selection {
  background-color: var(--color-green);
  color: var(--color-green-light);
}

:focus-visible {
  outline: 3px solid orange;
  transition: outline 0.2s ease;
  border-radius: inherit;
}

html {
  font-size: var(--font-size);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: var(--font);
  scrollbar-color: var(--color-purple-hover) transparent;
  scrollbar-width: 1px;
  caret-color: orange;
  height: 100%;
  font-size: var(--font-size);
  font-family: var(--font);
  background-color: #0f0f0f;
  color: rgb(200, 200, 200);
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
  /* padding: 12px; */
  padding-top: 0px;
  box-sizing: border-box;
  line-height: 1.8;
  user-select: text;
}

div#md-wrapper {
  background: radial-gradient(
    circle at top,
    transparent,
    hsla(var(--color-green-light-a), 0.05)
  );
  padding-bottom: 50px;
  /* border: var(--glass-border); */
  border-top: none;
  border-radius: 0 0 20px 20px;
  min-height: 100vh;
  overflow: hidden;
}

div#markdown-box {
  margin: 0 auto;
  padding: 50px;
  margin-inline: auto;
  max-width: max-content;
  user-select: text;
}

p {
  max-width: 60ch;
  hyphens: auto;
  margin: 20px 0;
  text-indent: 2em;
  line-height: 2.5rem;
  user-select: text;
  font-size: 1rem;
  font-family: sans-serif;
}

hr {
  color: hsla(var(--color-gray-100-a), 0.4);
  border: 0.5px solid;
  border-radius: 100%;
  max-width: 65ch;
  margin: 0 auto;
}

h1 {
  text-align: center;
  font-size: 3rem;
  margin: 0;
}
