:root {
  --color-white: #fff;
  --color-purple-hover: hsl(270, 80%, 25%);
  --color-purple: hsl(270, 80%, 20%);
  --color-purple-dark: hsl(270, 80%, 15%);
  --color-green: hsl(120, 30%, 13%);
  --color-green-light: hsl(120, 100%, 50%);
  --font: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  --font-size: 24px;
  --font-mono: "departure-mono";
}

@font-face {
  font-family: "departure-mono";
  src: url("/src/font/DepartureMono-Regular.woff2") format("woff2"),
    url("/src/font/DepartureMono-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

::selection {
  background-color: var(--color-green);
  color: var(--color-green-light);
}

:focus-visible {
  outline: 3px solid orange;
  transition: outline 0.2s ease;
  border-radius: inherit;
}

html {
  font-size: var(--font-size);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: var(--font);
  scrollbar-color: var(--color-purple-hover) transparent;
  scrollbar-width: 1px;
  caret-color: orange;
  height: 100%;
  font-size: var(--font-size);
  font-family: var(--font);
  background-color: hsl(0, 0%, 6%);
  color: white;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  line-height: 1.8;
  padding-bottom: 50px;
  user-select: text;
}

div#markdown-box {
  margin: 0 auto;
  padding: 50px;
  margin-inline: auto;
  max-width: max-content;
  user-select: text;
}

p {
  max-width: 65ch;
  hyphens: auto;
  margin: 20px 0;
  text-indent: 2em;
  user-select: text;
}

hr {
  color: hsla(var(--color-gray-100-a), 0.4);
  border: 0.5px solid;
  border-radius: 100%;
  max-width: 65ch;
  margin: 0 auto;
}

h1 {
  text-align: center;
}
